body {
  background-color: #FFCCCC;
  display: flex;
  flex-wrap: wrap;
}

.imie {padding: 10px;}

.item { margin: 10px;
}

.baner {
  width: 100%;
  background-color: #CCE5FF;
  text-align: center;
}

.github {
  background-color: #66B2FF;
  padding: 1rem;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 20%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.nav {
  width: 10%;
  background-color: #CCE5FF;
}

.link {
  background-color: #66B2FF;
  padding: 1rem;
  margin-left: -10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 72%;
  text-align: center;
  text-decoration: none;
  display: block;

}
.link:hover {
  background-color: #0066CC;
}

.github:hover {
  background-color: #0066CC;
}

table, td {
  border-collapse: collapse;
  background-color: #FFF9F9;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #66B2FF;
  text-align: center;
  padding: 8px;
}

.tabelki
{width: 86%;
background-color: #CCE5FF;
}

.lato{
  list-style-type: none;
}