body {
  background-color: #FFCCCC;
  display: flex;
  flex-wrap: wrap;
}

.imie {padding: 10px;}

.item { margin: 10px;
}

.baner {
  width: 100%;
  height: 30%;
  background-color: #CCE5FF;
  text-align: center;
}

.nav {
  width: 30%;
  height: 70%;
  background-color: #CCE5FF;
}

a {
  background-color: #66B2FF;
  padding: 1rem;
  margin-left: 10px;
  margin-top: 10px;
}
.link:hover {
  background-color: #0066CC;
  padding: 10px;
}

table, td {
  border-collapse: collapse;
  background-color: #FFF9F9;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #66B2FF;
  text-align: center;
  padding: 8px;
}

.tabelki
{width: 70%;
height: 70%;
background-color: #CCE5FF;
display: flex;
flex-wrap: wrap;}
