* {
    margin: 0;
    padding: 0;
  }
  .container {
    background-color: rgb(50, 117, 205);
    padding: 0px;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-areas: 
    "n a b d"
    "n a c d"
    "n a e d";
  }

  .header{
      background-color: red;
      grid-area: a;
      height: 100vh;
  }
  .ho {
      background-color: greenyellow;
      grid-area: b;
  }
    .ha {
      background-color: lightskyblue;
      grid-area: c;
  }
  .he{
      grid-area: e;
      background-color: yellow;
  }
  .hy{
      background-color: orange;
      grid-area: d;
      height: 100vh;
  }

  .nav {
    background-color: #CCE5FF;
    grid-area: n;
  }

  .link {
    background-color: #66B2FF;
    padding: 1rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 72%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  
  }