* {
    margin: 0;
    padding: 0;
  }
  .container {
    background-color: rgb(50, 117, 205);
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1.5fr 1fr 1fr;
    grid-template-areas: 
    "n a a b b g g"
    "n c h h f e e"
    "n i i d d e e";
  }
  header {
      background-color: red;
      grid-area: a;
      
  }
  nav {
      background-color: greenyellow;
      grid-area: b;
      
  }
  main {
      background-color: lightskyblue;
      grid-area: c;
      
  }
  aside {
      background-color:orange;
      grid-area: e;
      
  }
  footer {
      background-color: yellow;
      grid-area: d;
      
  }
  .uwu {
    background-color: lightskyblue;
    grid-area: f;
    
  }
  .owo {
    background-color: greenyellow;
    grid-area: g;

  }
  .hey {
    background-color: magenta;
    grid-area: h;
    
  }
  .heh {
    background-color: purple;
    grid-area: i;
  }
  
  .nav {
    background-color: #CCE5FF;
    grid-area: n;
  }

  .link {
    background-color: #66B2FF;
    padding: 1rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 72%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  
  }